.auth-container {
  height: 100vh;
  background: #f7f7f7;
  background-image: url("https://qftsvgnhxcqdrcarvsiq.supabase.co/storage/v1/object/public/images/utils/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.auth-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.auth-card h2 {
  text-align: center;
}

.auth-card input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.auth-card button {
  padding: 10px;
  background: #1f7a4c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-message {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.center {
  text-align: center;
  margin-top: 100px;
}
